<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://phpunit.de/phpunit.xsd"
    bootstrap="tests/Bootstrap.php" 
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true" 
    convertNoticesToExceptions="true" 
    convertWarningsToExceptions="true"
    verbose="true">

    <testsuites>
        <testsuite name="Financas">
            <directory>tests/modules/PerfilTest/Controller/IndexControllerTest.php</directory>
        </testsuite>
    </testsuites>
    
    <logging>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-crap4j" target="build/logs/crap4j.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
    
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">module/Security/src/Authentication/Controller</directory>
            <directory suffix=".php">module/Security/src/Authentication/Service</directory>
            <directory suffix=".php">module/Security/src/Perfil/Controller</directory>
            <directory suffix=".php">module/Security/src/Perfil/Service</directory>            
            <directory suffix=".php">module/Pessoa/src/Pessoa/Controller</directory>
            <directory suffix=".php">module/Pessoa/src/Pessoa/Service</directory>
        </whitelist>
    </filter>
</phpunit>